@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Montserrat';
}
html {
    scroll-behavior: smooth
}

/* Scroll */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    border-radius: 22px;
    background: #00000000;
}
::-webkit-scrollbar-thumb {
    border-radius: 22px;
    background: #8888884f;
}
::-webkit-scrollbar-thumb:hover {
    border-radius: 22px;
    background: #a8a8a873;
}
    
/* Links */
a, a:visited, a:active {
    color: #fff;
}
a:hover {
    color: #ffffffaf;
}