body{
    text-align: center;
}
.profilepic {
    margin: 5vh auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.box {
    margin: auto;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 7px;
    border-color: #333;
    background-color: #111;
}
a {
    font-size: x-large;
    color: #fff;
    text-decoration: none;
}
.large p{
    vertical-align: middle;
    margin: auto;
    padding: 15px;
}
.small a{
    padding: 15px;
    font-size: 250%;
}
.small {
    padding-top: 20px;
    padding-bottom: 10px;
}
@media only screen and (max-width: 1550px) {
    .box {
        width: 95%;
    }
}
a:hover.github {
    color: #24292F;
}
a:hover.x {
    color: #ffffff9d;
}
a:hover.insta {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a:hover.steam {
    color: #2a475e;
}